# Build outputs
**/bin/
**/obj/
**/dist/
**/dist-ssr/

# Node
**/node_modules/
*.log

# IDE / OS
.vs/
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Environment / secrets
*.local

# Misc
*.user
*.suo
